services:
  springboot-app:
    image: yourname/springboot-demo:latest
    container_name: springboot-app
    restart: always
    ports:
      - "8081:8080"
    networks:
      - webnet

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - springboot-app
    networks:
      - webnet

networks:
  webnet:
