name: CI/CD with Aliyun Docker Compose

on:
  push:
    branches:
      - main
    paths: # Dockerfile或者src下代码发生变更才生效
      - 'Dockerfile'
      - 'src/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Login to Aliyun Docker Registry
        run: echo "${{ secrets.ALIYUN_PASSWORD }}" | docker login registry.cn-hangzhou.aliyuncs.com -u ${{ secrets.ALIYUN_USERNAME }} --password-stdin

      - name: Build Image
        run: docker build -t registry.cn-hangzhou.aliyuncs.com/${{ secrets.ALIYUN_NAMESPACE }}/keep:spring-boot-action_1.1 .

      - name: Push to Aliyun
        run: docker push registry.cn-hangzhou.aliyuncs.com/${{ secrets.ALIYUN_NAMESPACE }}/keep:spring-boot-action_1.1

      - name: SSH to Server and Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /usr/local/service/spring-boot-action
            git pull
            docker-compose pull
            docker-compose up -d